body {
    font-family: monospace;
    font-size: large;
    background-color: #eee
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
}

.title {
    text-align: center;
    border-bottom: 2px solid black;
    width: 400px;
    margin: 0px auto;
}

.recipe-list {
    text-align: center;
    list-style-type: none;
    padding-right: 40px;
}

.spaghetti {
    margin: 10px;
}